/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles here */


/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}


.owl-carousel {
    
  width: 80vw;
  margin: 0 auto;
  transition: all o.5s ease-in-out;
}

.owl-next {
  position: absolute;
  right: 5px;
  top: 40%;

}

.owl-prev {
  position: absolute;
  left: 5px;
  top: 40%;
}



/* Add your custom styling here */
